{% extends 'RecipeProject/main.html' %}

{% block content %}

<h1> Recipes </h1>

<h4> Below is a list of all Recipes </h4>

<div class="all_recipes">
        {% for recipe in recipes %}
            <div class="recipe_panel">
                <p id="recipe_title"> {{ recipe.title }} </p>
                <img src = "{{recipe.image.url}}" id="recipe_image">
                <p> {{ recipe.description }} </p>

                <h4>Ingredients:</h4>
                <div class="ingredients">
                    {% for ingredient in recipe.ingredients_set.all %}
                        <p id="ingredient">{{ ingredient.ingredient }}</p>
                    {% empty %}
                        <p>No ingredients listed.</p>
                    {% endfor %}
                </div>

            </div>
        {% endfor %}
</div>

{% endblock %}

